{% extends "layout.html" %}

{% block heading %}

    <div class="details">
      {{book.author}}, {{book.title}}
    </div>

{% endblock %}


{% block body %}

  <div class="details">
    <div class="row">
      <div class="col-12 col-md-6">
      <h4>Book's details</h4>
        <div class="row">
          <div class="col-4">
            <p>Title: </p>
          </div>
          <div class="col-8 bold">
            <p>{{book.title}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Author: </p>
          </div>
          <div class="col-8 bold">
            <p>{{book.author}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Publication year: </p>
          </div>
          <div class="col-8 bold">
            <p>{{book.year}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>ISBN: </p>
          </div>
          <div class="col-8 bold">
            <p>{{book.isbn}}</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <h4>Book's Goodreads rating</h4>
        <div class="row">
          <div class="col-6">
            <div class="card text-white mb-3" style="max-width: 16rem;">
              <div class="card-header">Average rating</div>
              <div class="card-body">
                <h5 class="card-text">{{average_rating}}</h5>
              </div>
            </div>
          </div>
            <div class="col-6">
              <div class="card text-white mb-3" style="max-width: 16rem;">
                <div class="card-header">Number of ratings</div>
                <div class="card-body">
                  <h5 class="card-text">{{reviews_count}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% if review_exist == 0 %}
  <form action="" method="post" class="review-form">
    <div class="form-group">
      <div class="row">
        <label for="exampleFormControlTextarea1">Provide your review here:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="review_text" rows="3"></textarea>
      </div>
      <div class="row">
        <div class="form-row align-items-center">
          <div class="col-auto">Your rating: </div>
          <div class="col-auto">
            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Rating</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="rating">
              <option selected>Choose...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-warning">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% else %}
    <p>You submitted review for this book.</p>
{% endif %}


<div class="reviews">
  <h4>Book reviews:</h4>

  {{message}}

  {% for review in reviews %}
    <div class="review">
      <p><b>User: </b>{{review.username}}</p>
      <p><b>Rating: </b>{{review.rating}}/5</p>
      <p><b>Review: </b>{{review.review_text}}</p>
    </div>
  {% endfor %}
</div>

{% endblock %}
