{% extends "layout.html" %}

{% block heading %}

  <p>Welcome {{username}}!</p>

{% endblock %}


{% block body %}

<p>Provide ISBN, Title or Author to search for books.</p>

  <form action="" method="post">
    <div class="form-row">
      <div class="col-12 col-md-3">
        <input type="text" class="form-control" name="isbn" placeholder="ISBN">
      </div>
      <div class="col-12 col-md-3">
        <input type="text" class="form-control" name="title" placeholder="Title">
      </div>
      <div class="col-12 col-md-3">
        <input type="text" class="form-control" name="author" placeholder="Author">
      </div>
      <div class="col-12 col-md-3">
        <button class="btn btn-warning">Search</button>
      </div>
    </div>
  </form>

{% endblock %}
